---
layout: page
---
<style TYPE="text/css">
.gallery-image-wrapper {
  height: 200px;
  width: 300px;
  display: inline-block;
  position: relative;
}
.gallery-image {
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  max-height: 100%;
  max-width: 100%;
}
</style>
<hr>
<div class="container">
    {% for image in page.images %}
            <div class="gallery-image-wrapper col-lg-2 col-md-3 col-sm-1">
                <a name="{{ image.name }}"></a>
                <a href="{{ image.src }}" data-rel="lightcase:myCollection:slideshow" class="align-gallery" >
                    <img class="gallery-image" src="thumbs/{{ image.name }}" alt="{{ image.title }} / {{ image.dimension }} "/>
                </a>
            </div>
    {% endfor %}
</div>