---
layout: page
---
<hr>
<div class="container">
    {% for image in page.images %}
            <div class="gallery-image-wrapper col-lg-2 col-md-4 col-sm-10 col-xs-12">
                <a name="{{ image.name }}"></a>
                <a href="{{ image.src }}" data-rel="lightcase:myCollection:slideshow" class="align-gallery" >
                    <img class="gallery-image" src="thumbs/{{ image.name }}" alt="{{ image.title }}, {{ image.dimension }} "/>
                </a>
            </div>
    {% endfor %}
</div>